<div class="center hero-unit">
  <h1>Welcome to Pocket4Kindle</h1>

  <h2>
    This is the home page for the Pocket4Kindle App
  </h2>

  <%- if user_signed_in? %>

  	<p> Welcome <%= current_user.name  %> <%= link_to "Go to your profile page" , current_user %>	</p>

  <%- else %>

    <%= link_to "Sign up now!", new_user_registration_url , class: "btn btn-large btn-primary" %>
  <%- end %>	
</div>

 <%- unless user_signed_in? %>
	<%= link_to image_tag("pocket4kindle.png", alt: "Rails"), user_omniauth_authorize_path(:pocket) %>
<%- end %>	