 <!-- <pre> <%= @info %> </pre> -->
 <h1>Recent Media</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>URL</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @list.values.each do |i| %>
      <tr>
        <td><%= i["given_title"] %></td>
      	<td><%= link_to 'Go to it',i["given_url"] %></td>
        <td><%= link_to 'Show',embed_sessions_path(given_url: i["given_url"]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
